@{ ViewBag.Title = "Acerca de Nosotros!";
    ViewBag.Message = "Equipo 2"; }

<h2>@ViewBag.Title</h2>

<br />

<h3>@ViewBag.Message</h3>


<foto_nosotros>
    <div class="foto_nosotros"><img src="~/Content/img/seba.jpg" width="128" height="128" />Sebastian Romero</div>
    <div class="foto_nosotros"><img src="~/Content/img/borquez.jpg" width="128" height="128" />Rodrigo Borquez</div>
    <div class="foto_nosotros"><img src="~/Content/img/cris.jpg" width="128" height="128" />Cristian Muller</div>
    <div class="foto_nosotros"><img src="~/Content/img/taglio.jpg" width="128" height="128" />Gabriel Taglioretti</div>
</foto_nosotros>

