@{
    ViewBag.Title = "Contacto";
}

<h2>Formulario de Contacto</h2>
<form action="" method="get">
    <br>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" maxlength="50" />
    <br /><br />
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" maxlength="50" />
    <br /><br />
    <label>Correo: </label>
    <input type="email" id="email" name="email" />
    <br /><br />
    <input type="checkbox" id="chkinfo" name="chkinfo" value="Info" checked />
    <label for="chkinfo">Deseo recibir información sobre novedades y ofertas de HardwarePC</label>
    <br /><br />
    <label for="nombre">Cuéntenos sus comentarios aquí:</label>
    <br><br>
    <textarea id="" name="" rows="4" cols="50">    
    </textarea>
    <br><br>
    <input class="btn-input" type="submit" name="enviar" value="Enviar" />
</form>
<br />





