@{
    ViewBag.Title = "COVID-19";
    ViewBag.Message = "COVID-19 - Entre todos podemos cuidarnos";
}

<h2>@ViewBag.Message</h2>

<div>
    <br />
    <p><strong>Estimado cliente:</strong></p>
    <p>
        Como es de público conocimiento, algunas de las localidades habilitaron la apertura de sucursales con horarios especiales.
    </p>
    <p>
        Además <strong>seguimos operando con entrega a domicilio</strong> para las compras desde HardwarePC.com o venta telefónica, enviando productos para que estés cómodo en tu hogar y te mantengas conectado sin salir de tu casa.
    </p>
    <p>
        Para ello, hemos extremado las medidas de seguridad cambiando los protocolos de entrega, para cuidar la salud de todos.
    </p>
    <p>
        Te contamos las medidas de extrema seguridad que estamos tomando para las entregas a domicilio para cuidar la salud de todos:
    </p>
    <p>
        Al momento de la entrega de tu producto, nuestros conductores usarán desinfectante de manos y/o alcohol en gel.
    </p>
    <p>
        Te pedimos que colabores manteniendo un metro y medio de distancia de nuestro equipo de entrega, cuando sea posible. Nuestro equipo hará lo mismo.
    </p>
    <p>
        No te pediremos firma para minimizar contactos innecesarios.
    </p>
    <p>
        Durante el período de cuarentena nuestro equipo de entrega no ingresará a tu hogar ni desembalará el producto.
    </p>



</div>