@{
    ViewBag.Title = "Principal";
}
<br />
<h2> ARTSHOP</h2>
<br>

<h3>Quienes somos</h3>
<br />
<p>
    En ARTSHOP creemos que lo digital es una gran ventaja que da más transparencia y equidad al mercado del arte.

    Damos a los artistas herramientas que los hacen autónomos en la gestión de su comunicación y la venta de sus obras. Diariamente, nuestro equipo dedica toda su energía a esta misión, para que artistas de todas las nacionalidades tengan la oportunidad de brillar internacionalmente.

    Al promover artistas de todo el mundo, también queremos permitir que los amantes del arte como nosotros y los coleccionistas más exigentes, se abran fácilmente a nuevos horizontes artísticos, sean tocados por otras culturas e inspirados por talentos que nunca habrían encontrado en otro lugar sino fuera por ARTSHOP.
</p>
<br />


<h3>Nuestros Criterios de Seleccion</h3>
<br />

<h3>ARTSHOP: un intermediario confiable entre artistas internacionales y coleccionistas</h3>
<p>
    <strong>El arte no tiene fronteras</strong>, pero no es necesariamente fácil descubrir los talentos de Canadá o Brasil cuando vives en Francia ... mucho menos comprarlos, administrar la logística y el pago a distancia. Singulart le permite comprar un trabajo internacional con las mejores garantías.

    ¡Presentamos obras de artistas de 45 nacionalidades! Emergentes o confirmados, todos son cuidadosamente seleccionados.





